body {
  background: #4d4a40;
  padding: 20px 0px;
  line-height: 2;
  min-width: 1000px;
}

.container {
  background: white;
  width: 90%;
  margin: 0px auto;
  padding: 30px 0;
}

.container header {
  background: #267890;
  color: white;
  text-align: center;
  border: 5px solid #14414e;
  margin: 0 -34px;
}

.container header h1 {
  font-size: 42px;
  font-weight: bold;
}

.container header .header-link {
  color: #dbdbdb;
  margin-bottom: 30px;
}

.container header .header-link a {
  text-decoration: underline;
}

.container header .header-link a:hover {
  color: white;
}

.container section {
  width: 90%;
  margin: 0 auto;
}

.container section p {
  margin: 1em 0;
}
.container section h2 {
  font-size: 30px;
  font-weight: bold;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}
